/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;*/

body{
	margin: 0px;
	font-family: 'Carme', sans-serif;
/*	font-size: 1.1em;*/
	line-height: 1.5em;
	width: 100%;

}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
/*	font-size: 2em;*/
	font-weight: 100;
}

p{
	color: rgba(50, 50, 50);
	margin-top: 0.5em;
	margin-bottom: 0.5em;  

}

.content {
	margin:20px 0px;
	text-align: center;
}

.pure-g {
	font-family: 'Carme', sans-serif;
}

ul{
	text-decoration: none;
	list-style: none;
}

li a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 13;
    letter-spacing: 1px;
}

textarea:focus, input:focus{
    outline: none;
}

#not-logged {
	padding-top: 70px;
	padding-bottom: 50px;
}


/*Dropdown arrow*/

.dropbtn {
    background-color: transparent;
    color: white;
/*    padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: -60px;
    top:30px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*    margin-left: 50px;*/
	margin-bottom: 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: thin rgba(0,0,0,0.5) solid;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;

}

.dropbtn img{
	margin: 0px;
	padding-bottom: 10px;
}

.dropdown-content #logout-form{
	margin-bottom: 0px;
}

/*Dropdown arrow*/

.content-wrapper {
	margin: 100px;
	max-width: 1100px;
}

.educator-wrapper {
	margin-bottom: 5vh;
	margin-top: 10vh;
}

#menu {
	margin: 0 auto;
	width: 500px;
}

#menu li {
	padding: 0px 20px;
	padding-top: 10px;
}

#menu li:hover {
	color: white;
}

.pure-menu-children {
	margin-top:5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.pure-menu-horizontal {
	width: 40%;
	text-transform: uppercase;
	/*letter-spacing: 0.2em;*/
}


.button:hover{
	background-color: #110E3F;
	border: #110E3F thin solid;
	color:white;
}

.pure-menu-link{
	color:white;
	padding: 0px;
	font-size: 15px;
}

.pure-menu-link:hover{
	color: grey;
	background-color: transparent;
}

.header, .header-logged{
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	height: 125px;

}

#menuLink1 {
	cursor: hand;
	cursor: pointer;
}

#little_head {
	display: none;
	margin: 0 auto;
	color: black;
}

.header_line {
	border-bottom: 1px solid black;
}

#form-header{
	color: grey;
}

.form-header{
	color: grey;
}

#form-children{
	background-color: white;
	border: 1px solid black;
}

#form-children a{
	color: grey;
}

#form-children a:hover{
	color: black;
	border-bottom: 1px dotted black;
}

.header-logged img{
	display: inline-block;
/*	margin-bottom: 15px;*/
}

.logo{
	display: inline-block;
	margin-top: 0px;
	position: absolute;
	top:5px;
	z-index: 1000;
}

.logo img {
	width: 200px;
}

.nav{
	position: absolute;
	top: 35;
	right: 60;
	margin-top: 7;
}

.pure-menu-list{
	margin-top: 45px;
}

.pure-menu-item{
	height: 30px;
}

#title{
	display: inline-block;
	vertical-align: top;
}

.login input{
	padding: 0px 0px;
	margin: 10px 0px;
}

.login{
	display: none;
	width: 200px;
	text-align: center;
	margin-top: 10px;
	margin-left: -60px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	position: absolute;
	border: 1px solid black;
	right: 30px;
	z-index: 1000;
}

#login-holder{
	width: 100vw;
	text-align: right;
}

#login{
	padding: 2px 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
}

#login:hover {
	color: black;
}

.login2 {
	width: 200px;
	text-align: center;
	display: none;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	position: absolute;
	border: 1px solid black;
	right: 35;
	top: 125;
}

#login2:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

#show-login{
	padding: 7px 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
	display: inline;
	border: 1px solid rgba(0,0,0,0.5);
}

#show-login2{
	padding: 7px 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
	display: inline;
	border: 1px solid rgba(0,0,0,0.5);
}


#signup_head {
	padding: 7px 20px;
	background-color: rgba(0,0,100,0.5);
	color: white;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
	display: inline;
	border: 1px solid rgba(0,0,0,0.5);
}

 #signup_head a{
	text-decoration: none;
	color: white;
}

#show-login:hover{
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px white solid;
}

#signup_head:hover {
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px white solid;
}

#logout{
	background-color: transparent;
	border: none;
/*	margin-bottom: 5px; */
}

#logout:hover{
/*	background-color: grey;*/
	color: black;
}

.header-logged img{
	vertical-align: bottom;
}

#signup{
	background-color: rgba(0,0,100,0.5);
	color: white;
	display: inline-block;
	border: 1px solid rgba(0,0,100,0.5);
}

#signup:hover{
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px white solid;
}

#signup a:hover{
	color: black;
}

#signup a{
	text-decoration: none;
	color:white;
}

#welcome{
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	margin-top: 5px;
}

#welcome2{
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	margin-top: 5px;
}

#welcome p{
	margin: 0px 10px;
}

#welcome a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#welcome2 a{
	color: grey;
	text-decoration: none;
	font-size: 20px;
}

#logout-form{
	display: inline-block;
/*	margin-left: 20px;*/
}

.page-header{
/*	background-color: #110E3F;*/
	text-align: center;
	width: 100%;
	height: 200px;

}

.page-title{
	color:black;
    position: relative;
    position: absolute;
    font-size: 30px;
    width: 100%;

}

.page-title h2 {
    border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 200px;
	margin: 0 auto;
	padding: 5px 5px;
}

.form{
	display: inline-block;
	height: 150px;
}

/*footer*/
.footer{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	height: 70px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	margin-bottom: 0px;
}

.footer-tiny {
	display: none;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	height: 70px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	margin-bottom: 0px;
}

.footer-right, .footer-left{
	display: inline-block;
	height: 50px;
	margin-bottom: 0px;
}

#footer-middle{
	text-align: center;
	display: inline-block;
}

#footer-middle-small {
	width: 100px;
	text-align: center;
	display: none;
}

.footer-left{
	float: left;
}

.footer-middle {
	float: left;
	width: 500px;
	margin: 0 auto;
}

.footer button {
	background-color: transparent;
	border: none;	
	color: white;
	width: 95px;
	margin-top: 22px;
	font-size: 18px;
}

.footer-tiny button {
	background-color: transparent;
	border: none;	
	color: white;
	width: 150px;
	margin-top: 22px;
	font-size: 12px;
}

#footer-middle a{
	text-decoration: none;
	color: white;
	border: white solid 1px;
	margin-top: 0px;
	padding: 5px 10px;
	font-size: 18px;
}

#footer-middle-small a{
	text-decoration: none;
	color: white;
	border: white solid 1px;
	margin-top: 0px;
	padding: 5px 10px;
	font-size: 12px;
}

#button_constrain a {
	text-decoration: none;
	color: white;
	border: white solid 1px;
	margin-top: 0px;
	padding: 5px 10px;
}

.footer button a{
	color: white;
	text-decoration: none;
}

.footer-tiny button a{
	color: white;
	text-decoration: none;
}

#footer-middle a:hover{
	color: rgba(255,255,255,0.7);
}

.footer-right{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

/*.footer hr {
	background-color: #ededed;
}
*/
/*#foot_welearn {
	font-size: 1.4em;
}



#foot_welearn a {
	list-style-type: none;
}

#title_welearn {
	color: white;
}*/


#social_media {
	margin-top: 20px;
	margin-left: 15px;
}

#social_media_small {
	display: none;
}

#social_media ul li {
	display: inline-block;
	margin-left: 0px;
}


.we_rock {
	color: white;
	font-family: 'Carme';
	margin-top: 15px;
}

.we_rock_logo {
	display: none;
	width: 50px;
}

.we_rock_logo:hover {
	cursor: hand;
	cursor: pointer;
}

.contact_foot {
	right: 0;
	position: relative;
	margin-left: 200px;
	margin-top: 40px;
}




/*footer*/



/*index page*/
.hero{
	width: 100%;
	height: 500px;
	/*background-size: cover;*/
}

.hero_courses {
	background: url('../images/hero_images/hero-courses.jpg') center center no-repeat;
	background-size: cover;
}

.hero_index {
	background: url('../images/hero_images/hero_index.jpg') center center no-repeat;
	background-size: cover;
}

.hero_about {
	background: url('../images/hero_images/hero_about.jpg') center center no-repeat;
	background-size: cover;
}

.hero_educator {
	background: url('../images/hero_images/educatorbio_hero_resize.jpg') center center no-repeat;
	background-size: cover;
}

.hero_contact {
	background: url('../images/hero_images/hero_contact.jpg') center center no-repeat;
	background-size: cover;
}

.hero_oureducators {
	background: url('../images/hero_images/hero_oureducators.jpg') center center no-repeat;
	background-size: cover;
}

.hero_ourlearners {
	background: url('../images/hero_images/hero_ourlearners.jpg') center center no-repeat;
	background-size: cover;
}

.hero_userprofile {
	background: url('../images/hero_images/hero_userprofile.jpg') center center no-repeat;
	background-size: cover;
}

.herp_coursedesc {
	background: url('../images/hero_images/hero_coursedesc.jpg') center center no-repeat;
	background-size: cover;
}

#other-hero{
	height: 300px;
}

#other-hero-title{
	position: relative;
    top: 45%;
    color: white;
}

.index-hero-title{
	color:white;
	margin: 0 auto;
	padding-top: 10vh;
/*    position: relative;
    top: 25%;
    left: 25%;*/
	width: 25vw;
	font-size: 40px;
	line-height: 1.5em;
/*	text-align: center;*/

}

#hero-wrap {
	padding-top: 130px;		
	width: 600px;
	margin: 0 auto;
	position: absolute;
	top: 8%;
	right: 0;
	left: 0;
}

.hero-title-upper{
	color:white;
	margin: 0 auto;
	font-size: 25px;
	line-height: 1.5em;
	font-family: 'Quattrocento';
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 10px;
}

.border-bottom {
	border-bottom: 1px solid #d3d3d3;
	/*#cccc00*/
}

.hero-title{
	color:white;
	margin: 0 auto;
	font-size: 60px;
	line-height: 1.5em;
	font-family: 'Quattrocento';
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
/*	text-align: center;*/

}

#registerFormWrapper {
	background-color: white;
	padding: 25px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#index-col-1, #index-col-2, #index-col-3{
	letter-spacing: 0.1em;
	text-transform: uppercase;

}

#index-content{
	margin: 150px 0;
}

#index-content img:hover{
	-webkit-filter: grayscale(100%);
}


#index-content a{
	color: grey;
	text-decoration: none;
	font-size: 0.8em;
}

#index-content a:hover{
	color: black;
}

#logged-in{
	margin: 0 auto;
	text-align: center;
	margin-top: 15vh;
}

.hr {
	width: 80%;
	margin: 0 auto;
}

#logged-in a{
		letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: grey;
	font-size: 0.8em;
}

#logged-in a:hover{
	color: black;
}


/*index page*/


/*register*/
.register-div{
/*	width: 90vw;
	margin: 0 auto;
	border: grey thin solid;*/
	margin-top: 20px;
}

#registerForm1,
#registerFormW2,
#registerFormWrapper3 {
	height: 800px;
	text-align: center;
	width: 90vw;
	margin: 0 auto;
/*	border: grey thin solid;*/
	margin-top: 10vh;
}

#innerForm input{
	width: 100%;
	padding: 10px 0px;

}

.form-field{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: #5E5E5E solid 1px; 
	width: 50vw;
}

#register1, #register2{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
}

#ccourse {
  		margin-top: 100px;
  		font-size: 1.2em;
  	}

#register1:hover, #register2:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}
/*register*/



/*create course and Edit course*/
#createCourse{
	margin: 0 auto;
	text-align: center;

}

#createCourse input{
	margin: 10px 0px;
	width: 300px;
}

#wrapper1, #wrapper2{
	display: inline-block;
	vertical-align: top;
	
}

#wrapper1 h3, #wrapper2 h3, #wrapper3 h3{
	border: thin solid #2D2D2D;
	margin-bottom: 50px;
	padding: 5px 10px;
	background-color: #2D2D2D;
	color:white;
}

#wrapper3 h3{
	width: 200px;
	margin-left: 15vw;
	margin-bottom: 40px;
	margin-top: 50px; 
}

#wrapper1{
	margin-right: 10vw;
}

#wrapper2{
	margin-left: 0vw;
}


#wrapper1 fieldset{
	border: none;
	width: 300px;
	text-align: left;
}



#wrapper3 textarea{
	border: #5E5E5E solid 1px;
	margin-bottom: 30px;
	width: 70vw;
	padding: 10px;

}

#createCourseBtn{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;

}

#createcoursebtn:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}

#location_drop_menu {
	display: none;
	position: absolute;
	background-color: white;
	text-align: center;
	width: 100px;
}

#location_drop {
	text-align: left;
	cursor: pointer;
}

#location {
	width: 100%;
	cursor: pointer;
}

#location:hover {
	border-bottom: 1px dotted black;
}

.edit-course-title h2{
	font-size: 2em;
	margin-left: 8vw;
	margin-top: 70px;
	margin-bottom: 70px;
	border: black solid 1px;
	border-right: none;
	border-left: none;
	padding: 10px 5px;
	width: 200px;
}

#coursedesc{
	padding: 10px 20px;
}

.name_color {
	color: darkslategrey;
}
/*create course and edit course*/


/*myprofile*/

#scrolly {
	width: 400px;
	height: 200px;
	overflow: scroll;
}

#profile-search{
	float: right;
}

#profile-search img{
	margin-top: 50px;
	margin-right: 10px;
	vertical-align: bottom;
}

#profile-search input{
	padding: 5px 0px;
}

#arrow{
	padding: 1px;
}

.class-wrapper{
	height: 400px;
	width: 300px;
}

.about-myprofile {
	width: 300px;
	margin: 0 auto;
}

#profile-name{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 50px;
}

#profile-name h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

#profile-name hr{
	color: grey;
	width: 60vw;
}

.bio, .skills, .hobbies{
	margin-bottom: 50px;
}

#see-all{
	margin-top: 10px;
}

#create-course{
	margin: 10px 5vw;
}

#myprofile-content{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.allClasses {
	/*display: inline-block;*/
	vertical-align: top;
	text-align: center;
/*	margin: 0px 10vw;*/
	margin-bottom: 30px;
	margin-top: 50px;
}

.allClasses h2{
	border: black 1px solid;
	color: black;
	padding: 10px 10px;
	font-size: 24px;
	border-right: none;
	border-left: none;
}

.little-space {
	margin-top: 30px;
}

.profile_content {
	height: 100%;
}

.bio{
	text-align: left;
}

.bio h2{
	border: black 1px solid;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	border-right: none;
	border-left: none;
	margin-bottom: 0px;
	margin-top: 200px;
	background-color: darkslategrey;

}

.bio p{
	background-color: #F1F1F1;
	height: 200px;
	margin-top: 0px;
	padding: 20px 20px;
	text-align: left;
	border-radius: 5px;
}

.createCourseDiv{
	text-align: center;
}

#create-course{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	margin-top: 20px;
}

#create-course:hover{
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

#profile-course-display{
	width: 400px;
	display: inline-block;
	padding-bottom: 20px;
	border: black thin dashed;
	margin: 10px 10px;
	border-radius: 5px;
	padding: 15px 20px;
	background-color: #F5F5F5;
	vertical-align: top;
	height: 150px;

}

#profile-course-display:hover {
	border: black solid 1px;
	cursor: pointer;
}

.class_head {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	color: black;
}

#profile-comment-display{
	background-color: #FFFFF5;
	padding: 20px 10px;
	text-align: center;
/*	display: inline-block;*/
	width: 340px;
	margin-left: 20px;
	vertical-align: top;
	border: solid 1px #5E5E5E;

}

#profile-comment-display p{
	color: #5E5E5E;
	font-size: 16px;
}

#profile-comment-display a {
	text-decoration: none;
}


#overall-rating{
	text-align: center;
	font-size: 46px;
	margin-top: -100px;
	color: #E3CA32;
}

#entireRating{
	background-color: #F0F0F0;
	padding: 30px 3vw;
	text-align: center;
}

#ratingDiv{
	text-align: center;
	padding: 0px 5vw;
	background-color: #F0F0F0;
	display: inline-block;
	height: 300px;
	margin-bottom: 20px;
}

#ratingAndComments{
	text-align: left;
	padding: 0px 5vw;
	background-color: #F0F0F0;
	padding-bottom: 0px;
	display: inline-block;
	height: 300px;
	float: right;
}

#ratingAndComments h2{
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#theStars{
	margin-bottom: 30px;
	width: 150px;
}

#ratingComment{
	width:400px;
	height: 100px;
	margin-bottom: 30px;
}

#ratingDiv h1{
	margin-right: 80vw;

}
/*myprofile*/


/*Thank you page*/

#thank-you{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}



.content form{
	margin-top: 100px;
}

.form-field{
	margin-bottom: 40px;
	color: #5E5E5E;
	padding: 0px 5px;
}

/*PLACEHOLDER MAGIC*/

::-webkit-input-placeholder {
	color: #5E5E5E;
	padding-bottom: 5px;
}

:-moz-placeholder {
	color: #5E5E5E;
	padding-bottom: 5px;
}

::-moz-placeholder {
	color: #5E5E5E;
	padding-bottom: 5px;
}

:-ms-input-placeholder {
	color: #5E5E5E;
	padding-bottom: 5px;
}

:placeholder-shown {
	color: #5E5E5E;
	padding-bottom: 5px;
}

/*PLACEHOLDER MAGIC*/

.ty_content {
	height:500px;
}
/*Thank you page*/



/*About us page*/

#about-us-content{
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: left;
}

.vision_stmnt {
	text-align: center;
	font-size: 3.2em;
	margin-top: 60px;
	font-family: "Lobster Two";
	line-height: 1.8em;
	color: #bdbdbd;
}


.educators_header{
	text-align: center;
}

.vision_stmnt_index{
	text-align: center;
	font-size: 3.2em;
	margin-bottom: 30px;
	margin-top: 50px;
	font-family: "Lobster Two";
	line-height: 1.8em;
	color: #bdbdbd;
}

.educators_header h2{
	border: black 1px solid;
	border-left: none;
	border-right: none;
	width: 200px;
	padding: 10px 0px;
	margin-top: 50px;
}

.about_paragraph {
	padding-bottom: 15px;
/*	width: 80%;*/
	margin: 0 auto;                                                                                                                                         
}

#about-us-content h2{
/*	margin-top: 100px;*/
}

.join-team{
	text-align: center;
	margin: 100px 0px; 
}

.join-team h3{
	margin-bottom: 50px;
	margin-top: 50px; 
}

/*About us page*/


/*About Educators Page*/

#articles {
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
	background-color: rgba(225,225,225,1);
	margin-bottom: 0px;
}

#articles li{
	text-decoration: none;
}

#articles li:hover{
	
}

.article1, .article2, .article3, .article4, .article5 {
	display: block;
	margin-top: 20px;
	text-decoration: underline;
}

.steps {
	list-style-type: decimal;
}

.steps li{
	margin-top: 10px;
}

.steps2 {
	list-style-type: circle;
}

.steps2 li {
	margin-top: 5px;
}
/*About Educators Page*/


/*All courses page*/

#course-page-search{
	width: 60vw;
	margin: 0 auto;
	vertical-align: top;
	padding: 10px 0px;
}


#all-courses-search{
	text-align: center;
	/*margin: 50px 0px;*/
	margin-top: 60px;
	margin-bottom: 50px;
}

#all-courses-pure-g{
	text-align: center;
}


.search_class {
	width: 150px;
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	border: black thin dashed;
	margin-bottom: 10px;
	border-radius: 5px;
}

.course-wrapper{
	margin-bottom: 40px;
	margin-top: 40px;
	margin-left: 70px;
	border: dashed #5E5E5E 1px;
	border-radius: 5px;
	padding: 15px 20px;
	vertical-align: middle;
}

.course-wrapper a {
	display: inline-block;
}

/*.sexy-box {
	padding-top: 20px;
	padding-bottom: 50px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px; 
	border: thin solid black;
	position: relative;
	color: white;
	border-radius: 5px;
}

.sexy-box a {
	text-decoration: none;

}

.sexy-box p{
	color: black;

}

.class_header {
	text-decoration: none;	
	font-size: 1.7em;

}

.class_time {
	font-size: 1em;
	border: black thin solid;
	background-color: #005625;  
	width: 250px;
	margin: 0 auto;
	z-index: 10;
	position: absolute;
	bottom: -20px;
	left: 35px;
	border-radius: 5px;
	padding: 10px 5px;
}

.sexy-box .class_time{
	color: white;
}*/

.buh {
	text-decoration: none;
	font-size: 1.8em;
	color: black;

}

.course_info p{
	display: inline-block;
	width: 200px;
}

.course_info {
	width: 450px;
	display: inline-block;
	margin-left: 100px;
}
/*All courses page*/

	/* PENDING ACTIVE FULL*/

.pending {
	color: #142CE8;
}

.active {
	color: #1DA367;
}

.full {
	color: #cc0000;
}

.pending, .active, .full {
	float: right;
	margin-right: 30px;
}

	/*PENDING ACTIVE FULL*/

/*Request Course page*/

#requestCourse{
	margin-top: 200px;
}
/*Request Course page*/




/*One course page*/

#course-left-col{
	display: inline-block;
	background-color: #F1F1F1; 
	vertical-align: top;
	width: 150px;
	padding: 20px 5vh;
	margin: 50px 5vw;
	border-radius: 5px;
	
}

#course-right-col{
	display: inline-block;
	background-color: #F1F1F1; 
	width: 450px;
	padding: 20px 5vw;
	margin-top: 50px; 
	margin-right: 5vw;
	height: 50vh;
	border-radius: 10px;
}

#course-right-col p{
	text-align: justify;
}

#course-content{
	text-align: center;
	margin: 50px 0px; 
}

#login-register-btn{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	margin-top: 70px;
}

#login-register-btn:hover{
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

#joincourse {
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	margin: 70px 5vw;
}

#joincourse:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

#course-delete-button {
	background-color: rgba(150,0,0,1);
/*	border: rgba(0,0,100,1) solid 1px;*/
	color: white;
	padding: 10px 25px;
	font-size: 18px;	
}

#course-delete-button:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}
/*One course page*/


.thank-you-div{
	width: 70%;
	margin: 0 auto;
	margin-top: 40vh;
	text-align: center;
	color: darkslategrey;

}

.thank-you-div h2{
		line-height: 1.5em;
}


/*User Profile Page*/

.upcoming-classes{
	margin-left: 20vw;
	margin-top: 50px;
}


.class{
	display: inline-block;
	width: 30vw;
	margin-left: 5vw;
}

#sign-up-for-classes{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	margin-bottom: 20px;
}

#sign-up-for-classes:hover{
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}

#become-educator{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px; 
	margin-bottom: 40px;
}

#become-educator:hover{
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}

a #go-to-course, a #drop-course{
	text-decoration: none;
	color: black;
}

a #go-to-course:hover, a #drop-course:hover{
	background-color: #110E3F;
	border: #110E3F thin solid;
	color:white;
}

.profile-buttons{
	text-align: center;
}

#button_container {
	width: 500px;
	margin: 0 auto;
}

/*User Profile Page*/

/* Edit Account Page*/

#accountFormWrapper {
	text-align: center;
	width: 60vw;
/*	max-width: 800px;*/
	margin: 0 auto;
}

.update_button {
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	width: 250px;
	margin: 30px 0px;
	margin-bottom: 100px;
}

.update_button:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

#accountForm input{
	text-align: center;
}


#edit-account-title{
	margin-left: 8vw;
	border: black solid 1px;
	width: 180px;
	border-right: none;
	border-left: none;
	padding: 10px 5px;
	margin-top: 50px;
	margin-bottom: 50px; 

}

/*Edit Account End */

/*CONTACT US PAGE*/

.contact_wrapper {
	height: 650px;
}

.general-inquiry{
	border: #5E5E5E dashed 2px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	background-color: rgba(47, 79, 79, 0.2);
}

.general-inquiry p a{
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	color: #2D2D2D;
}

.general-inquiry p strong{
	font-weight: 700;
	font-size: 18px;
	text-decoration: underline;
}

#contact-form{
	text-align: center;
	margin-top: 50px;
}

#contact-form #name, #contact-form #email{
	width: 400px;
	margin-bottom: 10px;
	padding: 10px 10px;
}

#contact-form textarea{
	width: 400px;
	margin-bottom: 10px;
	padding: 10px 10px;
}

#submit-button{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	margin-top: 20px;
}

#submit-button:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

#social_media_contact {
	text-align: center;
	margin-top: 50px;
}

#social_media_contact ul li {
	display: inline-block;
	margin-left: 10px;
}

/*CONTACT US END*/


/*LEARNER PAGE*/

#learners-buttons{
	text-align: center;
	margin-bottom: 50px;
}

.go-to-courses{
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 7px 25px;
	font-size: 18px;
	margin-top: 20px;
}

.go-to-courses:hover{
	background-color: transparent;
	border: black 1px solid;
	color: black;
}

.learner-headers h2{
	border: black 1px solid;
	border-left: none;
	border-right: none;
	width: 200px;
	padding: 10px 0px;
	margin-top: 40px;
/*	margin-left: 50px;*/
}

#steps h2{
	border: black 1px solid;
	border-left: none;
	border-right: none;
	width: 100px;
	padding: 10px 0px;
	margin-top: 40px;
/*	margin-left: 50px;*/
}

#about-learners-content{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 50px;
}

#about-learners-content p{
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

#learners #signup{
	margin-bottom: 20px;
}

#signup {
	background-color: rgba(0,0,100,1);
	border: rgba(0,0,100,1) solid 1px;
	color: white;
	padding: 7px 20px;
	font-size: 18px;
	margin-top: 20px;	
}

#signup:hover {
	background-color: transparent;
	border: black 1px solid;
	color: black;	
}

#learners{
	margin-bottom: 50px;
}

.go-to-courses a {
	color: inherit;
	text-decoration: none;
}

.about_paragraph .learner_lines{
	text-align: left;
}
/*LEARNER PAGE*/



/*Rating page */

/*FAQ PAGE*/
#faq-content p{
	margin-bottom: 20px;
}

#faq-content strong{
	font-size: 1.2em;
}

/*FAQ PAGE*/

/*Social Icons*/

@font-face {
    font-family: 'si';
    src: url('../socicon-1.3/socicon.eot');
    src: url('../socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon-1.3/socicon.woff') format('woff'),
         url('../socicon-1.3/socicon.ttf') format('truetype'),
         url('../socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../socicon-1.3/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
	 line-height: 30px;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}

/*Social Icons*/

@media only screen and (min-width: 768px)
				   and	(max-width: 1024px) {

	.pure-menu-item {
		font-size: 13px;
	}

	.nav {
		right: 10;
	}

	
	#index-content p{
  		margin-left: 100px;
  		margin-right: 100px;
  	}

  	#vision_stmnt{
  		margin-left: 50px;
  	}

	#menu {
		text-align: center;
	}

	#about-learners-content{
		margin-left: 5vw;
		margin-right: 5vw;
	}


	/*Footer*/
	#social_media ul li{
		margin-left: 0px;
	}

	.footer button{
		width: 100px;
		font-size: 16px;
	}

	.footer-tiny button{
		width: 100px;
		font-size: 12px;
	}

	#footer-middle a{
		font-size: 16px;
	}

	.footer-right{
		margin-right: 20px;
		font-size: 14px;
	}

	.footer-left, .footer-middle, .footer-right{
		width: 30vw;
	}

	/*Footer*/
}

@media only screen and (min-width: 768px)
				   and	(max-width: 880px) {

	.footer button{
		width: 100px;
	}

	.footer-tiny button{
		width: 100px;
	}

	#footer-middle-small {
		width: 200px;
	}


}

@media only screen and (min-width: 768px)
				   and	(max-width: 1210px) {

	#ratingDiv{
		padding: 0px;
	}

	#ratingAndComment{
		padding: 0px;
	}

	#profile-comment-display{
		width: 280px;
	}

	#ratingComment{
	width:300px;
	}

	#myprofile-content{
		margin: 5vw;
	}

	#about-learners-content{
		margin-left: 5vw;
		margin-right: 5vw;
	}

}

@media only screen and (min-width: 768px)
				   and	(max-width: 1210px) {

	#course-right-col{
		width: 400px;
	}

	#course-left-col{
		width: 90px;
	}

	#about-learners-content{
		margin-left: 5vw;
		margin-right: 5vw;
	}
}

/*Tablet*/
@media only screen and (min-width: 667px)
				   and	(max-width: 768px) {
	.hero-title{	
		font-size: 36px;
	}

	#hero-wrap{
		width: 500px;
	}

	.vision_stmnt{
		font-size: 2.5em;
		line-height: 1.5em;
		margin-top: 60px;
	}

	#ratingAndComments{
		float: none;
	}

	#entireRating{
		text-align: center;
	}

	#myprofile-content{
		margin: 5vw;
	}

	.allClasses{
		text-align: center;
	}

	#course-right-col{
		width: 300px;
	}

	#course-left-col{
		width: 50px;
	}

	#about-learners-content{
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.login{
		float: right;
		left:66%;
		top:11vh;

	}
}


@media only screen and (max-width: 855px) {	

	#big_head {
	display: none;
}

#little_head {
	display: block;
	margin: 0 auto;
	color: black;
	z-index: 1000;
}

.kdropmenu {
	padding-left: 0px;
}

#lhead_content {
	width: 70%;
	margin: 0 auto;
}

.kdropmenu li {
	border-top: thin dotted black;
    font-size: 1.1em;
    padding-top: 10px;
    margin-bottom: 10px;
}


#show_lhead {
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	width: 100%;
	text-align: center;
	background-color: rgba(255,255,255,1);
	z-index: 1000;
}

.da_button {
	font-size: 30px;
	cursor: pointer;
	cursor: hand;
}

#lhead_content {
	display: none;
}

.pure-menu-children li {
	margin-left: 0;
}

.mini_menu {
	padding-left: 0;
	width: 60%;
	display: none;
	margin: 0 auto;
}

.mini_menu li {
	font-size: .7em;
	border: none;
}

.logo {
	margin-top: 50px;
	width: 100%;
	text-align: center;
} 

.nav {
	margin-top: 120;
	width: 100%;
	right: 0;
}

#footer-middle {
	display: none;
}

#footer-middle-small {
	width: 160px;
	display: inline-block;
}

#footer-middle-small button{
	width: 75px;
}

	.login{
/*		float: right;*/
		left:40%;
		top:200px;
	}

	.dropdown-content{
		left: 0px;
	}



}




/*iPhone6*/
@media only screen and (min-width: 320px) 
  and (max-width: 667px) {
  	#index-content p{
  		margin-left: 50px;
  		margin-right: 50px;
  	}
  	
  	p{
  		text-align: justify;
  	}

  	#ccourse {
  		margin-top: 100px;
  		font-size: 1.2em;
  	}

 	.hero-title{
		font-size: 24px;
	}

	.hero-title-upper{
		font-size: 18px;
		letter-spacing: 7px;
	}

	#hero-wrap{
		width: 300px;
		top:25%;
	}

	.vision_stmnt{
		font-size: 2em;
		line-height: 1.2em;
		margin-top: 40px;
		margin-bottom: 50px;
	}

	.content-wrapper{
		margin: 30px;
	}

	.about_paragraph{
		width: 100%;
	}

	.general-inquiry p{
		text-align: center;
		font-size: 0.8em;
	}

	.general-inquiry{
		width: 250px;
		margin-top: 0px;
	}

	#contact-form #name, #contact-form #email, #contact-form textarea{
		width: 300px;
	}


	#ratingAndComments{
		float: none;
	}

	#entireRating{
		text-align: center;
	}

	#profile-comment-display{
		width: 200px;
	}

	#ratingComment{
	width:200px;
	}

	#myprofile-content{
		margin: 5vw;
	}

	.allClasses{
		text-align: center;
	}

	#profile-course-display{
		width: 200px;
		height: 200px;
	}

	#course-right-col{
		width: 300px;
		margin-bottom: 100px;
		padding: 20px 50px;

	}

	#course-left-col{
		width: 150px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#course-left-col a, #course-left-col p{
		display: inline-block;
	}

	.responsive-wrapper{
		text-align: center;
	}

	#wrapper1, #wrapper2 {
		width: 350px;
		margin: 0 auto;
	}

	#wrapper1 h3, #wrapper2 h3{
		width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#coursedesc{
		width: 350px;
	}

	.edit-course-title h2{
		margin: 0 auto;
		width: 200px;
		margin-top: 80px;
		margin-bottom: 20px;
	}

	#about-learners-content{
		margin-left: 5vw;
		margin-right: 5vw;
	}


	#social_media ul li{
		margin-left: 0;
	}

	#social-media-small {
		width: 100px;
	}

	#social_media {
		margin-left: 0px;
	}

	.footer {
		display: none;
	}

	.footer-left-small {
		width: 150px;
		margin-left: 0px;
	}

	#footer-middle-small {
		width: 160px;
	}

	.footer-right {
		margin-right: 0px;
		margin-top: 45px;
	}

	.footer .soc li a {
		font-size: 12px;
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	.footer-tiny .soc li a {
		font-size: 20px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	#button_constrain {
		margin-top: 0px;
	}

	.footer-tiny {
		display: inline-block;
		background-color: black;
		width: 100%;
		height: 150px;
		text-align: left;
	}

	.footer-tiny button {
		margin-top: 18px;
	}


	.footer-left-small {
		width: 100%;
		text-align: center;
	}

	.footer-right {
		width: 100%;
		text-align: center;
	}


	#button_constrain {
		display: inline-block;
	}

	#social_media {
		margin-top: 10px;
	}

	#footer-contact {
		width: 75px;
	}

	#footer-faq {
		width: 75px;
	}

	.soc-small {
		margin-left: 0px;
	}

	.we_rock_logo {
		display: none;
	}

	.we_rock {
		display: inline-block;
	}

	.login{
/*		float: right;*/
		left:30%;
		top:200px;
	}

	.dropdown-content{
		left: 0px;
	}

	.test-wrapper {
		margin: 0px;
		width: 100%;
		margin-left: 10px;
	}

	.course_info p {
		width: 100px;
	}

	.course-wrapper {
		margin-left: 10px;
		width: 80%;
	} 

	.buh {
		font-size: 1.2em;
	}

	.course_info {
		margin-left: 0px;
		width: 450px;
	}

	.active, .pending, .full {
		float: none;
	}

	fieldset {
		text-align: center;
	}

	.update_button{
		width: 200px;
	}

	.vision_stmnt {
		width: 337px;
		margin: 0 auto;
		margin-top: 30px;
	}

	.join-team h3{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 50px;

	}
}