/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;*/

body{
	margin: 0px;
	font-family: 'Carme', sans-serif;
	font-size: 1.1em;

}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
/*	font-size: 2em;*/
	font-weight: 100;
}

.content{
	margin:20px 0px;
	text-align: center;
}

.pure-g{
	font-family: 'Carme', sans-serif;
}

ul{
	text-decoration: none;
	list-style: none;
}

li a{
	color: black;
	text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

#menu{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	text-align: center;
	vertical-align: middle;
}

#menu li{
	padding: 0px 50px;
	padding-top: 10px;
}

#menu li:hover{
	color: white;
}

.pure-menu-children{
	margin-top:5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.button{
	border-radius: 5px;
	background-color: transparent;
	border: black solid thin;
	box-shadow: none;
}

.button:hover{
	background-color: #110E3F;
	border: #110E3F thin solid;
	color:white;
}

.pure-menu-link{
	color:white;
}

.pure-menu-link:hover{
	color: #110E3F;
	background-color: transparent;
}

.header{
/*	height: 20vh;*/
	display: inline-block;
	vertical-align: top;
/*	margin-top: 5vh;*/

}

#header-stripe{
/*	background-color: rgba(0, 0, 0, 0.7);*/
}

.logo{
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
	margin-left: 10px;
}

.nav{
	display: inline-block;
	margin-right:20px;
	margin-top: 50px;
	float: right;

}

.pure-menu-list{
/*	margin-top: 20px;*/
}

.pure-menu-item{
	height: 40px;
}

#title{
	display: inline-block;
	vertical-align: top;
}

.login input{
	padding: 5px 0px;
}

#login{
	border-radius: 5px;
	padding: 5px 10px;
	background-color:  
}

#signup{
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #9EB6BF;
	border: #9EB6BF solid thin;
}

#signup a:hover{
	color: black;
}

#signup a{
	text-decoration: none;
	color:white;
}

.page-header{
/*	background-color: #110E3F;*/
	text-align: center;
	width: 100vw;
	height: 100px;
}

.page-title{
	color:black;
    position: relative;
    top: 15%;
    position: absolute;
    left: 10%;
    font-size: 30px;

}

.form{
	display: inline-block;
}

/*footer*/
	.footer{
		background-color: #110E3F;
		color: white;
		bottom: 0;
		position: absolute;
		width: 100vw;
		font-family: 'Carme', sans-serif;
		height: 100px;

	}

	#index-footer{
		background-color: #110E3F;
		color: white;
/*		bottom: 0;
		position: absolute;*/
		width: 100vw;
		font-family: 'Carme', sans-serif;
		height: 100px;

	}

	.footer-col{
		display: inline-block;
		width: 33vw;
		text-align: center;
		vertical-align: middle;
	}

	.footer li{
/*		margin: 10px 20px;*/

	}


	#social-media li{
		display: inline-block;
	}

	#social-media{
		margin-right: 30px;
	}

	#footer-one ul{
		display: inline-block;
	}

	#footer-two{
		text-align: center;
	}

	#footer-two h4{
		margin: 0px;
	}

	#footer-buttons{
		text-align: center;
		margin-right: 5vw;
		margin-left: 5vw;
	}
	
	#browse-courses, #request-courses{
		margin: 5px 0px;
		padding: 0px 25px;
		background-color: #F0F0F2;
		border: #F0F0F2 solid thin;
	}


/*footer*/



/*index page*/
.hero{
	background: url('../images/bag-and-hands.jpg') center center no-repeat;
	width: 100vw;
	height: 60vh;
	background-size: cover;
}

.hero-title{
	color:white;
    position: relative;
    top: 25%;
    left: 38%;
	width: 25vw;
	font-size: 2.5vh;
	text-align: center;

}

#index-search{
	color: #CCCC00;
	font-size: 1.2em;
    position: relative;
    top: 25%;
/*    left: 30%;*/
    text-align: center;
}

#index-search input{
	height: 25px;
	width: 30vw;
}

#index-search img{
	vertical-align: top;
}

#registerFormWrapper {
	background-color: white;
	padding: 25px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#index-col-1, #index-col-2, #index-col-3{

}
/*index page*/


/*register*/
.register-div{
/*	width: 90vw;
	margin: 0 auto;
	border: grey thin solid;*/
	margin-top: 20px;
}

#registerForm1,
#registerFormW2,
#registerFormWrapper3
{

	text-align: center;
	width: 90vw;
	margin: 0 auto;
/*	border: grey thin solid;*/
	margin-top: 10vh;
}

#innerForm input{
	width: 60vw;
	padding: 10px 0px;

}

.form-field{
	border-top:none;
	border-left:none;
	border-right:none;
	width: 50vw;
}

#register1, #register2{
	border:thin grey solid;
	border-radius: 5px;
	margin-top: 10px;
}
/*register*/



/*create course*/
#createCourse{
	margin: 0 auto;
	text-align: center;

}

#createCourse input{
	margin: 10px 0px;
	width: 30vw;
}

#wrapper1, #wrapper2{
	display: inline-block;
	margin-bottom: 100px;
}

#wrapper2 textarea{
	border: rgba(200, 200, 200, 0.5) solid thin;
	margin-left:100px;
	margin-top: 100px;

}

#createCourseBtn{
	padding: 10px 0px;
}

/*create course*/


/*myprofile*/
#other-hero{
	height: 20vh;
}

#profile-search{
	float: right;
}

#profile-search img{
	margin-top: 50px;
	margin-right: 10px;
	vertical-align: bottom;
}

#profile-search input{
	padding: 5px 0px;
}

#arrow{
	padding: 1px;
}


.left, .right{
	display: inline-block;
}


#profile-left{
	margin-left: 50px;
	width: 50vw;
	margin-bottom: 30px;
}

#profile-right{
	float: right;
	width: 30vw;
	margin-bottom: 30px;
}

.class-wrapper{
	border: grey thin solid;
	height: 500px;
	width: 300px;
}

#profile-name{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 50px;
}

#profile-name h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

#profile-name hr{
	color: grey;
	width: 60vw;
}

.bio, .skills, .hobbies{
	margin-bottom: 50px;
}
/*myprofile*/


/*Thank you page*/

#thank-you{
	text-align: center;
	margin: 50px 0px;
}



.content form{
	margin-top: 100px;
}

.form-field{
	margin-bottom: 40px;
}
/*Thank you page*/
