/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;*/

body{
	margin: 0px;
	font-family: 'Carme', sans-serif;

}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

.pure-g{
	font-family: 'Carme', sans-serif;
}

ul{
	text-decoration: none;
	list-style: none;
}

li a{
	color: black;
	text-decoration: none;
}

.button{
	border-radius: 5px;
	background-color: transparent;
	border: black solid thin;
	box-shadow: none;
}

.button:hover{
	background-color: #3E7CD8;
	border: #3E7CD8 thin solid;
	color:white;
}

.pure-menu-link{
	color:black;
}

.pure-menu-link:hover{
	color: #3E7CD8;
	background-color: transparent;
}

.header{
	height: 20vh;
	display: inline-block;
	vertical-align: top;
	margin-top: 5vh;
}

.logo{
	display: inline-block;
	margin-top: 0px;
	vertical-align: top;
}

.nav{
	display: inline-block;
	margin-left:30vw;
	margin-top: 5vh;
}

.pure-menu-list{
	margin-top: 20px;
}

.pure-menu-item{
	height: 40px;
}

#title{
	display: inline-block;
	vertical-align: top;
}

.login input{
	padding: 5px 0px;
}

#login{
	border-radius: 5px;
	padding: 5px 10px;
	background-color:  
}

#signup{
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #9EB6BF;
	border: #9EB6BF solid thin;
}

.page-bar{
	width: 100vw;
	height: 100px;
	background-color: #9EB6BF;
	text-align: center;
}

#page-bar-title{
	color:white;
    position: relative;
    top: 25%;
}



/*footer*/
	.footer{
		background-color: #9EB6BF;
		bottom: 0px;
		position: absolute;
		width: 100vw;
		height: 20vh;
		font-family: 'Carme', sans-serif;

	}

	.footer-col{
		display: inline-block;
		width: 33vw;
		text-align: center;
		vertical-align: middle;
	}

	.footer li{
/*		margin: 10px 20px;*/

	}


	#social-media li{
		display: inline-block;
	}

	#social-media{
		margin-right: 30px;
	}

	#footer-one ul{
		display: inline-block;
	}

	#footer-two{
		text-align: center;
	}

	#footer-buttons{
		text-align: center;
		margin-right: 5vw;
		margin-left: 5vw;
	}
	
	#browse-courses, #request-courses{
		margin: 5px 0px;
		padding: 5px 30px;
		background-color: #F0F0F2;
		border: #F0F0F2 solid thin;
	}


/*footer*/



/*index page*/
.hero{
	background: url('../images/bag-and-hands-resize.jpg') center center no-repeat;
	width: 100vw;
	height: 60vh;
}

.hero-title{
	color:white;
    position: relative;
    top: 25%;
    left: 30%;
	width: 500px;
	font-size: 2em;
	text-align: center;

}

#index-search{
	color: yellow;
	font-size: 1.2em;
    position: relative;
    top: 25%;
/*    left: 30%;*/
    text-align: center;
}

#index-search input{
	height: 25px;
	width: 30vw;
}

#index-search img{
	vertical-align: top;
}

<<<<<<< HEAD:css/style.css
#registerFormWrapper {
	background-color: white;
	padding: 25px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
=======
#index-search h5{
	margin-bottom: 20px;
}

.pure-u-md-1-3{
	text-align: center;
	margin:10px 20px;
	width: 300px;
	margin: 0 auto;
}

.pure-u-md-1-2{
	text-align: center;
	margin:10px 20px;
	width: 350px;
	margin: 0 auto;
}

#logged-in{
	margin: 0px 30px;
>>>>>>> origin/master:css/style.css
}
/*index page*/